.App {
  display: flex;
  flex-direction: column;
}

.nhapdonGroup {
  display: flex;
  flex-direction: row;
}

.nhapdonbox {
  width: 70%;
  padding: 10px;
}

.nhapdonboxheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nhapdon {
  width: 100px;
  height: 24px;
  margin-left: 10px;
  font-size: 1.2rem;
}

.tinhtong {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #009d9d;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
}

.tinhtong:hover {
  opacity: 90%;
  scale: 1.01;
}

textarea {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

textarea:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.tongbox {
  margin-left: 60px;
}

.tong {
  margin-top: 10px;
  font-size: 1.2rem;
}

.tongdon {
  margin-top: 10px;
  background-color: #e7e7e7;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
}

.ketquasosoGroup {
  display: flex;
  margin-bottom: 100px;
}

.ketquasoso {
  width: 200px;
  height: 24px;
  margin-left: 10px;
}

.ketquasosobox {
  width: 90%;
  padding: 10px;
  border-left: 1px solid;
}

.ketquasosobox textarea {
  width: 70%;
}

.ketquasosoheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.checkkq {
  width: 80px;
  height: 24px;
  text-align: center;
  background-color: #009d9d;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

.checkkq:hover {
  opacity: 90%;
  scale: 1.01;
}

.trungsobox {
  width: 20%;
  padding: 10px;
  padding-left: 0;
}

.danhsachtrungso {
  margin-top: 20px;
}

.red {
  color: red;
}

.kqua {
  height: 18px;
}

.tiletinhtong {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  margin-right: 10px;
  width: 140px;
  height: 30px;
  background-color: #f3f3f3;
  border-radius: 6px;
  font-size: 1.2rem;
}

.bang-ket-qua {
  flex: 1;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 20px;
}

.bang-ket-qua th,
.bang-ket-qua td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: right;
}

.bang-ket-qua th:first-child,
.bang-ket-qua td:first-child {
  text-align: left;
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 40%;
  margin-left: 10px;
}

.bao2Input,
.bao3Input,
.xiuchuInput,
.ddInput {
  padding: 12px 16px;
  font-size: 18px;
  height: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.daGroup {
  display: flex;
  gap: 10%;
  justify-content: space-between;
}

.daInputBac,
.daInputTrung,
.daMotDai {
  width: 80%;
  padding: 12px 16px;
  font-size: 18px;
  height: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.action-row {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 45%;
}

.checkButton {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkButton:hover {
  background-color: #0056b3;
}

.danhsachtrungso {
  font-size: 16px;
  padding: 8px;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 80px;
  border-radius: 8px;
}

.form-container label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  gap: 4px;
}

.daGroup label {
  width: 45%;
}